@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: rgb(245, 193, 24);
}

header {
  width: 37.5rem;
  margin-inline: auto;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: LightYellow;
  border-radius: 25px;
  padding: 1px;
  margin-top: 10px;
}
.box-header h3 {
  font-size: 3rem;
  font-family: "Shadows Into Light", cursive, sans-serif;
}
.box-header .menu img {
  width: 3rem;
  height: 3rem;
  margin-left: 10px;
  cursor: pointer;
}
.box-header .padlock img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  cursor: pointer;
}
.box-main .product img {
  width: 350px;
}
.box-main {
  width: 37.5rem;
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 1px;
  margin-top: 10px;
}
.box-information {
  width: 37.5rem;
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 1px;
  margin-top: 10px;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.information h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
}

span {
  margin-left: 120px;
}

.information h3 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: sans-serif;
}
.information p {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
}
.check {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.check label {
  font-size: 2rem;
  opacity: 0.8;
}

.counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 2.5rem;
}
.counter button {
  background: rgb(245, 193, 24);
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
.counter p {
  font-size: 2.5rem;
}
.addcart {
  width: 100%;
  background: black;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  font-size: 2.5rem;
  cursor: pointer;
}
.addcart button {
  color: rgb(245, 193, 24);
  background: black;
  border: none;
  cursor: pointer;
}
label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}
input[type="radio"] {
  display: none;
}
label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: black;
}
input[type="radio"]:checked + label:before {
  content: "\2022";
  color: #f3f3f3;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
}
